.category-bar {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
  justify-content: space-around;
  background-color: black;
  width: 100%;
}

.category-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-bottom: 5px;
}

.category-name {
  text-align: center;
}

.material-icons {
  color: white;
}
.search-text-color {
  color: black;
}
.search-icon-color {
  color: white;
}

@media (min-width: 768px) {
  .category-bar {
    display: flex;
    position: sticky;
    background-color: transparent;
    flex-direction: column;
    top: 0;
    left: 0;
    width: initial;
    max-height: 90vh;
    min-height: 90vh;
  }
}
