.category-bar {
  display: flex;
  flex-direction: row;
  position: sticky;
  background: black;
  top: 0;
  bottom: 0;
  overflow-x: auto;
  width: initial;
}

.category-button {
  flex: 1;
  padding: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  margin-bottom: 10px;
}

.search-container input[type="text"] {
  background: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: -webkit-fill-available;
}

.category-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
  border: none;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-bottom: 5px;
}

.category-name {
  text-align: center;
}

.material-icons {
  color: white;
  padding: 0.625em;
}
.search-text-color {
  color: black;
}
.search-icon-color {
  color: black;
}

/* Desktop styles */
@media (min-width: 768px) {
  .category-bar {
    flex-direction: column;
    position: relative;
    top: auto;
    bottom: auto;
    width: 8rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
