.category-bar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  bottom: 0;
  padding: 1rem;
  justify-content: space-between;
  z-index: 50;
  background-color: black;
}

.category-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: none;
  text-decoration: none;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-bottom: 5px;
}

.category-name {
  text-align: center;
}

.material-icons {
  color: white;
}
.search-text-color {
  color: black;
}
.search-icon-color {
  color: white;
}

/* Desktop styles */
@media (min-width: 768px) {
  .category-bar {
    flex-direction: column;
    top: 0;
    left: 0;
    padding: 3em;
    gap: 9rem;
  }
}
