body {
  margin: 0;
  padding: 0;
  background-color: black;
  color:white;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.headerLogo {
  height: 4rem;
}
